body {
    background-color: black;
    animation: 1.5s ease-in 0s 1 fadein;
}

@keyframes fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.grid {
    display: grid;
    grid-template-columns: 40px 50px auto 50px 40px;
    grid-template-rows: 7vh 84vh 7vh;
}

.grid > .header {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row: 1;
    text-align: center;
}

.header {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-first, .header-last {
    color: #ffffff;
    left: 50%;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-size: 10pt;
}

.header-first {
    font-weight: 100;
}

.sidedecorator {
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;
}

.sidedecorator-text {    
    color: #aaaaaa;
    text-transform: uppercase;
    font-weight: 100;
    font-family: 'Roboto', sans-serif;
}

.sidedecorator-arrow {
    color: #f54242;
    font-size: 16pt;
}

.sideleft {
    grid-column: 1;
    grid-row: 2;
}

.sideleft > div {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    transform: rotate(180deg);
}

.sideright {
    grid-column: 5;
    grid-row: 2;
}

.sideright > div {
    writing-mode: vertical-rl;
    text-orientation: mixed;
}

.grid > .center {
    color: white;
    grid-row: 2;
    grid-column-start: 1;
    grid-column-end: 6;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.knockout {
    text-align: center;
    line-height: 0.8;
    font-size: 9vw;
    text-transform: uppercase;
    background-image: url("img/image.jpg");
    background-clip: unset;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Roboto', sans-serif;
    background-size: 100%;
}

.laser {
    width: 100%;
    background-color: #f54242;
    height: 5px;
    box-shadow: 0 0 4px red;
    border-radius: 3px;
    position: relative;
}

.diode {
    animation: beam .01s infinite;
}

@keyframes beam {
    50% {
        opacity: 0;
    }
}

.border-left{
    grid-column: 2;
    background-position: left;
    grid-row-start: 1;
    grid-row-end: 4;
    background-image: linear-gradient(black 80%, #777777 0%);
    background-size: 1px 3px;
    background-repeat: repeat-y;
}

.border-right{
    grid-column: 4;
    background-position: right;
    grid-row-start: 1;
    grid-row-end: 4;
    background-image: linear-gradient(black 80%, #777777 0%);
    background-size: 1px 3px;
    background-repeat: repeat-y;
}

.grid > .footer {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row: 3;
    text-align: center;
}

.footer {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-first, .footer-last {
    color: #f54242;
    left: 50%;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-size: 12pt;
}

.footer-last {
    font-weight: 100;
    font-size: 16pt;
}

table {
    width: 50vw;
}

@media (min-width: 600px) {
    .sidedecorator {
        display: flex;
    }
    .grid > .header {
        grid-column-start: 3;
        grid-column-end: 3;
        grid-row: 1;
    }
    .grid > .footer {
        grid-column-start: 3;
        grid-column-end: 3;
        grid-row: 3;
    }

    .grid > .center {
        grid-column-start: 3;
        grid-column-end: 3;
    }
}

.flaticon-notice {
    font-family: 'Roboto', sans-serif;
    color: #aaaaaa;
    font-size: 10pt;
}

.flaticon-notice > a {
    text-decoration: none;
    color: #aaaaaa;
}

.social-media-links > a > img {
    filter: invert(.7);
    margin: 0 .15% 0 .15%;
}

.social-media-links > a {
    text-decoration: none;
}

.social-media-links {
    margin-top: .5%;
    text-align: center;
}