::-webkit-scrollbar { 
    display: none; 
}
* {
	box-sizing: border-box;
}
body {
	font-family: 'PT Mono', monospace;
    background-color: #333333;
    color: white;
}
section {
	/*border-bottom: 1px solid #444444;*/
	padding: 0;
	height: 100vh;
	text-align: center;
    position: relative;
}
h1	{
	position: absolute;
	top: 2%;
    text-align: left;
    padding-left: 5vw;
    font-family: 'Encode Sans Condensed', sans-serif;
	color: white;
	width: 100%;
	left: 0;
	font-size: calc(1rem + 1vw);
}
p {
    padding: 0;
    line-height: 0;
}
#hey {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateY(-50%);
    transform: translateX(-50%);
    padding: 0;
}
#heyhey {
    font-family: 'Montserrat', sans-serif;
    font-size: 3vh;
    padding: 0%;
}
#heyname {
    font-family: 'Montserrat', sans-serif;
    font-size: 4vh;
    padding: 0%;
}
#heylines {
    position: absolute;
    float: left;
    transform: translateX(-50%);
    left: 50%;
}
