body {
    background-color: #333333;
    background-blend-mode: difference;
    background-image: url("http://www.sclance.com/backgrounds/dark-purple-gradient-background/dark-purple-gradient-background_771966.jpg");
}