::-webkit-scrollbar { 
    display: none; 
}
* {
	box-sizing: border-box;
}
body {
	font-family: 'PT Mono', monospace;
    background-color: #0a0a0a;
    color: white;
    scroll-behavior: smooth;
    scroll-snap-type: mandatory;
    scroll-snap-points-y: repeat(100vh);
    height: 100vh;
}
.content {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
}
section {
	/*border-bottom: 1px solid #444444;*/
	padding: 0;
	height: 100vh;
    position: relative;
}
h1	{
	position: relative;
	top: 5%;
    text-align: left;
    padding-left: 5vw;
    font-family: 'Encode Sans Condensed', sans-serif;
	color: white;
	width: 100%;
	left: 0;
    font-size: calc(1rem + 1vw);
    letter-spacing: 2px;
}
p { 
    padding: 0;
    line-height: 0;
}
.sectioncontent {
    line-height: 1;
    position: absolute;
    padding-left: 10%;
    top: 15%;
}
#hey {
    position: absolute;
    top: 43.5%;
    left: 50%;
    transform: translateY(-50%);
    transform: translateX(-50%);
    padding: 0;
}
#heyhey {
    font-family: 'Montserrat', sans-serif;
    font-size: 3vh;
    padding: 0%;
}
#heyname {
    font-family: 'Montserrat', sans-serif;
    font-size: 4vh;
    padding: 0%;
    text-align: center;
}
#heylines {
    position: absolute;
    float: left;
    transform: translateX(-50%);
    left: 50%;
}
#phatpageline {
    position: absolute;
    top: 0px;
    right: 3.4vw;
    float: right;
}
#phatpagelineline {
    stroke:rgb(200,200,200);
    stroke-width: 1;
}
#nav {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    right: 3vw;
    float: right;
    text-align: right;
}
a {
    text-decoration: none;
    color: gray;
}
a:hover{
    display: inline;
    color: white;
}

.tooltip .tooltiptext {
    visibility: hidden;
    color: #fff;
    text-align: right;
    padding: 0px 5px;
    width: 100px;
    font-family: 'Encode Sans Condensed', sans-serif;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: inherit;
    right: 105%;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.active{
    color: white;
}
.large-header {
    float: left;
    position: absolute;
    z-index: -100;
    filter: blur(1.5px) brightness(1.7);
}

table {
    border-collapse: collapse;
}
table, th, td {
    border: 0px solid black;
}

th, td {
    padding-right: 2px;
}

.projectmatrix {
    position: relative;
    padding-left: 10%;
}